<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="TestNG Practice Suite" verbose="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    
    <test name="Unit Tests">
        <classes>
            <class name="com.testng.practice.unit.CalculatorTest" />
            <class name="com.testng.practice.unit.StringUtilsTest" />
        </classes>
    </test>
    
    <test name="Integration Tests">
        <classes>
            <class name="com.testng.practice.integration.CalculatorIntegrationTest" />
        </classes>
    </test>
    
    <test name="E2E Selenium Locators Tests - Simplified">
        <classes>
            <class name="com.testng.practice.e2e.SeleniumLocatorsSimplifiedTest" />
        </classes>
    </test>
    
</suite>
